.Footer{
	padding-top: 90px;
	background: #25201D;
	color: white;

}
.footer__img{
	width:300px;
	height: 300px;
	position: relative;
	left: 30%;
}
.form{
	margin-top: 30px;
 background: #25201D;
    padding: 15px 10px;
    position: relative;
    border-radius: 5px;
    text-align: left;
    border: 1px solid #cde5f6;
}


.form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}
 .form input[type="submit"] {
    position: absolute;
    top: -1px;
    right: -2px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px 2px 20px;
    background: white;
    color:rgba(255, 255, 255, 0.2);
    /*color: #fff*/;
    transition: 0.3s;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}
input{
	outline-width: none;
	background-color: none;
	border-width: none;
	border: none !important;
}
.footer__bottom{
	position: relative;
	left: 7em;
	padding-top: 30px;
}
.footer__bottom__image{
	z-index: -999;
}
@media only screen and (max-width: 480px) {
.Footer{
	display: none;
}
.footer__bottom{
  display: none;

}
.footer__img{
	position: relative;
	right:40% !important;
}



}