.Story{
	padding-top: 90px;
	background: #FFF8F5;

}
.story__content{
	color: black;
	margin-left: 170px;
}
.story__image{
	position: relative;
	bottom: 1em;
}
.story__content >p{
	font-size: 20px;
line-height: 1.5em;
margin-top: 1.4em;
max-width: 860px;

}
.btn-story {
 background:white !important;
 border-color: #FF5C00 !important;
 color: #FF5C00 !important;
}